@import "../var";

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  min-height: 4rem;
  min-width: 100%;
  background-color: $bc-header;
  padding: 5px;
  padding-left: 20px;
  box-sizing: border-box;
  z-index: 999;

  & .header__info {
    display: flex;
  }

  & .header__title {
    @include font($font-Basic, $bold, $font-30, $font-dark);
  }

  & img {
    height: 50px;
    margin-right: 50px;
  }

  & ul {
    padding-right: 30px;
    display: flex;
    gap: 30px;

    & li {
      list-style-type: none;

      & a {
        text-decoration: none;
        color: $font-dark;
        font-size: $font-16;
        font-weight: $bold;
      }

      & a:hover {
        color: #000;
      }
    }
  }
}
